*{
    padding:0;
    margin: 0;
    background: rgb(30, 65, 80);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
   width: 100%;

}

.premiereparti {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tyuriè{
    height: 300px;
    width: 300px;
    background: url(/assets/mon\ logo.webp) 50% no-repeat;
    background-size: cover;
    margin-top: 30Px;
    
    
    
}
.tyuriè12{
    height: 50px;
    width: 300px;
    margin-bottom: 50px;
}
.tyuriè3{
    height: 300px;
    width: 70%;
    background: url(/assets/Feature-Image_IBFCCA_1_a73698582755525bc16819be81480a08.jpg) 50% no-repeat;
    background-size: cover;
    margin-bottom: 200px;
    margin-top: 30px;
}
.tyuriè1{
    height: 50px;
    width: 100%;
    
   
}

.bienvenu{
    margin-top: -80px;
    color: aliceblue;
    font-size: x-large;
}

.nomdelentreprise{
    color: aliceblue;
    margin-top: -640px;
}










