*{
    padding: 0;
    margin: 0;
    background: rgb(11, 38, 48);
}

.body{
    justify-content: center;
    align-items: center;
}
.imgRotate{
    transform: rotate(30deg);

}
.premiereparti img{
    width: 700px;
    height: 700px;
}
.premiereparti{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px){ 
    .premiereparti img{
        width: 500px;
        height: 50px;
    }
    .premiereparti{
        display: flex;
        justify-content: center;
    }
    
}


.premiereparti{
    margin-top: 100px;
    margin-left: 900px;
   
}

.cateafrique img{
    width: 500px;
    height:500px;
}
.cateafrique{
  display: flex;
  justify-content: center;
}

.nomentreprise{
    font-size: xx-large;
    color: aliceblue;
    margin-left: 900px;
    margin-top: 80px;
}
.nomentreprise h3{

}

.bienvenu{
    font-size: xx-large;
    color: white;
    margin-top: 50px;
    margin-left: 620px;
}

