*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
  
}
body{
    /* background-color: rgba(21, 23, 23, 0.881) ; */
    /* background: linear-gradient(0deg, #d89090 1%, #000 38%, #ffffff 71%); */
    background: linear-gradient(0deg, #d1e9e9 5%, #4e575a 40%, #6a7f91 43%, #a8c7d1 50%, #0f1010 73%);
}

.main-head{
    background: rgb(0, 0, 0);
    color: rgb(3, 223, 247);
}

nav{
  display: flex;
  align-items: center;
  width: 90%;
  padding: 2rem;
  margin: auto;
}
button{
    background-color: rgb(21, 121, 160);
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    
}
.www{
    color: white;
}
nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}
nav ul li a{
    text-decoration: none;
    color: rgb(3, 223, 247);

}
#logo{
    flex: 1 1 40rem;
    font-family: "pacifico",cursive;
    font-size: 22px;    
   
}

.image{
    width: 100%;
    height: 900px;
    position: relative;
}

.image img{
    width: 100%;
    height: 900px;
    position: relative;
}

.text1{
    position: relative;
    bottom: 510px;
    width: 100%;
    height: 200px;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    color: rgb(255, 255, 255);

}

.text2{
    position: relative;
    bottom: 510px;
    width: 100%;
    height: 100px;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);

    
}

.form1{
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    bottom: 230px;
}

.form2{
    width: 30%;
    height: 100%;
}
.form2 img{
    height: 300px;
    position: relative;
    top: 140px;
    left: 25%;
    transform: rotate(30deg);
}
.form3{
    width: 70%;
    height: 100%;
    font-size: 40px;
    color: rgb(222, 238, 231);

}

.form3 p{
    font-size: 40px;
    position: relative;
    top: 200px;
}

.image p {
    width: 10%;
    height: 40px;
    position: relative;
    top: 550px;
    left: 15%;
    font-size: 27px;
    z-index: 1;
    color: rgb(255, 255, 255);


}

#azert{
    position: relative;
    top: 12px;
}
.form22{
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.form22 img{
    height: 500px;
    position: relative;
    top: 50px;
    left: 25%; 
   
}

.form33{
    width: 50%;
    height: 100%;
    font-size: 40px;
    color: rgb(237, 243, 241);

}

.form33 p{
    position: relative;
    top: 212px;
    font-size: 50px;

}





.form222{
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.form222 img{
    height: 400px;
    position: relative;
    top: 50px;
    left: 25%; 
}

.form333{
    width: 50%;
    height: 100%;
    font-size: 40px;
    color: rgb(243, 248, 246);

}

.form333 p{
    position: relative;
    top: 212px;
    font-size: 50px;

}
#azert1{
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    top: 120px;
}

.form333 img{
    position: relative;
    top: 212px;
    height: 150px;;
    left: 20%;

}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.pieddpage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(8, 8, 8);
    width: 100%;
    height: 300px;
    position: relative;
    top: 300px;
}

.footernav ul{
    display: flex;  
    position: relative;
    top: 11px;
}

.footernav ul li{
    margin-left: 30px;
    
}

.footernav ul li a{
    text-decoration: none;
    color: rgb(149, 225, 243);
    font-size: 34px;

}

@media screen and (max-width: 500px){
    .main-head{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    nav ul{ 
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        text-align: right;
        align-items:end;
    }
    
}

